/* Array 
["005FBD","FF9696","3296FA","C40505","003163"]*/


html, body {
    margin:5%;
    font-family:arial, helvetica, sans-serif;
    line-height:1.5;
}

h1 {
    color: #005FBD;
}

h2 {
    color: #C40505;
}

h3 {

color: #003163
    
}

a {
    color:  #3296FA;
    text-decoration: none;
}

img.header {
    width:100%;
    margin:auto;
    height:100px;
}

li > span {
    font-weight: bold;
}